{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row text-center">
    <a href="{{ path('admin_list_links') }}" class="watson-button">Afficher les Liens</a> <a href="{{ path('admin_list_users') }}" class="watson-button">Afficher les Utilisateurs</a>
</div>
{% endblock %}
